* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.btn {
  border: none;
}
